streamlit
beautifulsoup4
lxml
requests
pandas

streamlit
requests
beautifulsoup4
lxml
html5lib
pandas

import pandas as pd

# 순위 데이터 저장
standings = pd.read_html("https://www.statiz.co.kr/standings.php")[0]
standings.to_csv("standings.csv", index=False)

# 일정 데이터 저장
schedule = pd.read_html("https://www.statiz.co.kr/schedule.php?opt=1&sopt=0")[0]
schedule.to_csv("schedule.csv", index=False)

print("CSV 저장 완료!")
